// For TTN must be in LSB format (little endian)
#define LORAWAN_APPEUI { FILLMEIN }

// For TTN must be in LSB format (little endian)
#define LORAWAN_DEVEUI { FILLMEIN }

// For TTN must be in MSB format (big endian)
#define LORAWAN_APPKEY { FILLMEIN }